# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Database
DATABASE_URL="postgresql://user:password@host:port/dbname?pgbouncer=true"
DIRECT_URL="postgresql://user:password@host:port/dbname"

# AI & LLM
OPENROUTER_API_KEY=your_openrouter_api_key

# resend 
RESEND_API_KEY=your_resend_api_key

CRON_SECRET=your_cron_secret 

YOUTUBE_API_KEY=your_youtube_api_key